.app-input-form {
  margin: 50px 10px 50px 10px;
}
.product-card {
  margin-top: 20px;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
}

input {
  margin-bottom: 20px;
  margin-top: 5px;
}
