a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: larger;

  &:hover {
    background-color: #ddd;
  }

  &.active-link {
    background-color: #007bff;
    color: white;
  }
}

nav {
  padding-top: 50px;
  padding-bottom: 10px;

  border-radius: 5px;
}

main {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #cecbcb;
  border-radius: 10px;
  flex-grow: 1;
}

header,
footer {
  background-color: #f0f0f0;
  padding: 1em;
}
