a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 4px;

  &hover {
    background-color: #ddd;
  }

  &.active-link {
    background-color: #007bff;
    color: white;
  }
}
