<h2>รายการสินค้าในสต็อก</h2>
@if (products$ | async; as product) {
  <button type="button" (click)="load()" class="app-load-product" [disabled]="product.length > 0">
    Load Product
  </button>
}

<br />
@if (dashboard$ | async; as d) {
  <h3>Total Product :{{ d.total_qty }} Total Price :{{ d.total_price }}</h3>
}

<!-- <app-add-product></app-add-product> -->
<div class="product-list">
  <label
    >Search
    <input type="text" (input)="onSearch($event.target.value)" />
  </label>
  <p>{{ search_status$ | async }}</p>
  @for (product of filteredProducts$ | async; track product.name; let i = $index) {
    <div class="product-card">
      <b
        >Product <span class="title-number">{{ i + 1 }}</span
        >:
      </b>
      <div class="product-name" [class.is-out-stock]="product.qty === 0">{{ product.name }}</div>
      <div class="product-price">{{ product.price | number }} Baht</div>
      @if (product.qty === 0) {
        <div class="product-qty">
          Quantity: <span class="app-out-stock-text">Out of stock</span>
        </div>
      } @else {
        <div class="product-qty">Quantity: {{ product.qty | number }}</div>
      }

      <button type="button" (click)="removeProduct(i)" class="app-remove-btn">
        <i class="fa-solid fa-trash-can"></i>
      </button>
    </div>
  } @empty {
    <p>Not Found</p>
  }
</div>
